@page "/Championships/{champId:int}/Tournaments/{id:int}/Delete"
@using static System.Net.WebRequestMethods
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1 class="mb-3">Delete Tournament</h1>
<p>Are you sure you want to delete tournament with ID @id?</p>
<button class="btn btn-danger" @onclick="DeleteTournament">Delete</button>
<a class="btn btn-secondary" href="/Championships/@champId/Tournaments">Cancel</a>

@code {
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public int champId { get; set; }

    protected async Task DeleteTournament()
    {
        var respone = await Http.DeleteAsync($"https://localhost:7068/Championships/{champId}/Tournaments/{id}");
        NavigationManager.NavigateTo("/Championships");
    }
}
