@page "/Championships/{champId:int}/Tournaments/{tournamentId:int}/Matches/{id:int}/Delete"
@using static System.Net.WebRequestMethods
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h1 class="mb-3">Delete Match</h1>
<p>Are you sure you want to delete match with ID @id?</p>
<button class="btn btn-danger" @onclick="DeleteMatch">Delete</button>
<a class="btn btn-secondary" href="/Championships/@champId/Tournaments/@tournamentId/Matches">Cancel</a>



@code {
    [Parameter]
    public int champId { get; set; }
    [Parameter]
    public int tournamentId { get; set; }
    [Parameter]
    public int id { get; set; }

    

    protected async Task DeleteMatch()
    {
        var response = await Http.DeleteAsync($"https://localhost:7068/Championships/{champId}/Tournaments/{tournamentId}/Matches/{id}");       
        NavigationManager.NavigateTo($"/Championships/{champId}/Tournaments/{tournamentId}/Matches");
    }

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

   
}
