@page "/Teams/{id:int}/Delete"
@using static System.Net.WebRequestMethods
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1 class="mb-3">Delete Team</h1>
<p>Are you sure you want to delete team with ID @id?</p>
<button class="btn btn-danger" @onclick="DeleteTeam">Delete</button>
<a class="btn btn-secondary" href="/Teams">Cancel</a>

@code {
    [Parameter]
    public int id { get; set; }

    protected async Task DeleteTeam()
    {
        var respone = await Http.DeleteAsync($"https://localhost:7068/Teams/{id}");
        NavigationManager.NavigateTo("/Teams");
    }
}


@code {

}
